img {
  -webkit-transform: scale(0.3); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.3); /* FF3.5+ */
      -ms-transform: scale(0.3); /* IE9 */
       -o-transform: scale(0.3); /* Opera 10.5+ */
          transform: scale(0.3);
}​

#myBar {
  width: 100%;
  background-color: grey;
}

#myProgress {
  width: 0%;
  height: 30px;
  background-color: green;
}