.container {
	margin: auto;
	width: 50%;
}

video { 
	border: 2px solid #666;
	position: fixed; /* or absolute */
}


canvas {
	border: 2px solid red;
	position: relative;
	display: block;
  /* display: none; */
}

h1 {
	display: block;
}
