body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #FAFAFA;
    font-size: 4em;
	
}

.instructionsList {
	margin: 1em;
	list-style-type:square;
}

.instructionsList label {
	margin: 20px 0;
	text-align: center;
}

.instructionsList li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



.inputoutput, .photoButton {
	margin: auto;
	text-align: center;
}

#status {
	margin: auto;
	text-align: center;	
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
	text-align: center;
	background-color: pink;
	color: black;
    border: 1px solid #d3d3d3;
    border-radius: 35px;
    display: inline-block;
    padding: 20px 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 3rem;
    min-width: 30rem;
	min-height: 5rem;
	line-height: 100px;
	text-align: center;
    -webkit-box-shadow: 2px 2px 4px #d3d3d3;
    -moz-box-shadow: 2px 2px 4px #d3d3d3;
    box-shadow: 2px 2px 4px #d3d3d3;
}
/*
img {
	display: none;
}
*/

canvas {
	display: none;
}
