#instructions {
	margin: auto;
	text-align: center;
}

.inputoutput {
	margin: auto;
	text-align: center;
}

#status {
	margin: auto;
	text-align: center;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    width: 40%;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

img {
	display: none;
}
/
canvas {
	display: none;
}